/* CSS Goes Here */
body {
  background-color: #F68429;
  color: #803E0D;
}

.image-container {
  text-align: center;
}

.drink-image {
  height: 250px;
  width: 250px;
  border-radius: 25px;
}

h3:hover, #new-drink:hover, #new-order:hover {
  color: black;
  cursor: pointer
}

.show-list {
  text-decoration: none;
}
