/* CSS Goes Here */
body {
  background-color: #F68429;
  color: #803E0D;
}

h3:hover, #new-drink:hover, #new-order:hover {
  color: black;
  cursor: pointer
}

.show-list {
  text-decoration: none;
}
